section.bg{
    height:100vh;
    background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position:center;
    background-size:cover;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg h3{
    color: white;
    font-size: 50px;
    letter-spacing: 18px;
    text-transform: uppercase;
}