.btn{
    border: solid 2px black;
    text-decoration: none;
    color: white;
    padding: 0.2em 1.7em;
    font-size:40px;
    cursor: pointer;
    text-align: center;
    margin: 20px;

}

.btn-plain{
    background-color: red;
    color: white;

}

.btn-rounded{
    border-radius: 34px;
}

.btn-circle{
font-size: 300px;
color: yellow;
    
}

