

.card{
    
  background-color: white;
    width: 300px;
    height: 350px;
    padding: 10px;
    border:1px solid black;

}

.main-card{

    height: 75%;
    margin-bottom: 5px;
    text-align:center;
    padding:20px;

}


.footer-card{

    height: 10%;
 
    
    display: flex;
    align-items: center;
  

}
.footer-card p{
    margin-left:5px;
    font-size: 18px;
    color:grey;
}

.footer-card img{
    width: auto;
    height: 100%;
}

.preview{
    height: 83%;
  
}


.preview img{
    width: 100%;
    height: 100%;
}
.stat{
    padding-left: 90px;
word-spacing:2px;
display: flex;
margin-top: 7%;
height: 10%;
list-style-type: none;
color:rgb(76, 68, 68);
}

.stat div{
 margin: 5px;
}

.stat div:hover{
    color:black;
    transform: scale(1.2)
}