header{
    color:#a52a2a;
    background-color:  #e58e26 ;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header h2{
    margin:0px;
    margin-bottom: 10px;
    padding-top: 50px;

}

