

{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.content) }}
{{ form_row(form.category) }}
{{ form_row(form.imageFile) }}


<div class="saveButton d-flex justify-content-between my-5">
    <a class="btn btn-outline-primary" href="{{ path('article_index') }}">Retour au articles</a>
    <button class="btn btn-success">{{ button_label|default('Enregistrez') }}</button>
</div>


{{ form_end(form) }}
