{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container-fluid d-flex ">
        <div class="filter mt-5 ">
            <form action="{{ path('article_index') }}">
                <label for="selector">Categorie</label>
                <select class="custom-select " id="selector" name="categorie" onchange="select()">
                    <option value=""></option>
                    {% for category in categories %}
                        {% if selectCategory == category.id %}
                            <option value="{{ category.id }}" selected> {{ category.name }}</option>
                        {% else %}
                            <option value="{{ category.id }}">{{ category.name }} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <hr/>
                <label for="search">Rechercher</label>
                <input class="form-control mr-1" id="search" type="search" name='recherche' placeholder="Recherche"
                       aria-label="Search" value="{{ searched }}">
                <button class="btn  mt-3 btn-success" type="submit">Appliquer</button>

            </form>
            <a class="btn btn-dark mt-4" href="{{ path('article_new') }}">Nouvelle Article</a>
        </div>
        <div class="container mt-4">
            <div class="d-flex  align-content-center mb-5">
                {% if  selectCategory  is not empty %}
                    <form action="{{ path('article_index') }}" class="d-flex align-items-start ml-2 mt-1">
                        <button class="btn btn-danger btn-sm " type="submit">
                            <i class="fas fa-times"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
            {% for article in articles %}
                <div id="{{ article.id }}" class="d-flex border-bottom article">
                    <div class="box d-flex col-12 p-2">
                        <div class="thumbnail col-3">
                            {% if article.imageName is not empty %}<img style="height: 150px;width: auto"
                                                                        src="{{ vich_uploader_asset(article,'imageFile') }}"
                                                                        alt="Thumbnail de l'article"
                                                                        class="imgProfile">
                            {% endif %}
                        </div>
                        <div class="content col-9 d-flex flex-column justify-content-between align-items-center">
                            <div class="title ">
                                <h3 class="">{{ article.title }}</h3>
                            </div>
                            <div class="article-content">
                                <p>{{ article.content|truncate(325, '...') | raw }}</p>
                            </div>
                            <div class="category ">
                                <p class="p-0 m-0">Catégorie:
                                    <a href="{{ path('show_category' , {id: article.category.id}) }}"> {{ article.category.name }}</a>
                                </p></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <script>
                var something = document.querySelectorAll(".article");
                something.forEach(function (e) {
                    e.style.cursor = 'pointer';
                    e.onclick = function () {
                        var id = e.getAttribute("id");
                        window.location.href = '/article/' + id
                    };

                    e.onmouseover = function () {
                        this.style.backgroundColor = '#F2F2F2';
                    };
                    e.onmouseout = function () {
                        this.style.backgroundColor = '';
                    };
                });
            </script>
        </div>
    </div>
{% endblock %}
