{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="container">

    <h1>Ajoutez un article</h1>


    {{ include('article/_form.html.twig') }}
        <script>
            CKEDITOR.replace( 'editor1' );
        </script>

    </div>
{% endblock %}
