{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <style>
        .parallax {
            /* The image used */
            background-image: url("{{ vich_uploader_asset(article,'imageFile') }}");

            /* Set a specific height */


            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            width: 90vw;
            height: 35vh;
        }
    </style>
    <div style="color: #777;background-color:white;padding:50px 80px;text-align: justify;"
         class="container-fluid">

        <div class="m-2 parallax d-flex justify-content-center" >
            <div class="container" id="article_container" data-path="{{ path('comment_new' , { article: article.id }) }}">


                <h1 style="text-align: center">{{ article.title }}</h1>


                {{ article.content |raw }}


                <hr/>
                <h3>Commentaire</h3>


                <ul id="comment_list">
                    {% for comment in article.comments %}
                        <li>{{ comment.user.username }}: {{ comment.content }} (Crée
                            le {{ comment.createdAt|date('d/m/Y') }}
                            {% if comment.updatedAt != comment.createdAt %}
                                , modifié le {{ comment.updatedAt|date('d/m/Y') }}
                            {% endif %}
                            )
                        </li>
                    {% endfor %}
                </ul>

                {% if app.user %}
                    <form action="" id="commentForm">
                        <div class="d-flex flex-column">
                            <label for="comment">Commentaire : </label>
                            <textarea name="comment" id="comment"></textarea>
                        </div>
                        <button class="btn btn-success m-3">Valider</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('comment.js') }}">

    </script>
{% endblock %}