*{
font-family: 'Noto Sans SC', sans-serif;
}


body{
	height: 700px;

}



h1{
	
	color: white;
	font-size: 45px;
	padding: 20px;
	text-align: center;
	margin:1px auto;

}



h2{
	margin: 2px 2px 2px 10px ;
	color: rgba(255,000,000,0.70);

}





div.leftcontent{
	padding: 5px;
}

div.rightcontent{
	padding: 5px;
}




h2.h2{
	text-align: center;


}

div.left{
	float:left;
	width: 20%;
	height: inherit;
	margin: 0px 0px;



}
div.right{
	float:left;
	width: 20%;
	height: inherit;

	margin: 0px 0px;


}
section{
	height: inherit;
}

div.center{
	width:60%;
	float:left;
	height: 100%;
	display: box;
	margin: 0px 0px;

}



header{

	display: block-inline;
    background: #1abc9c;
    color: white; 

}


footer{
	border:1px solid black;
	clear: both;
	display: block;
	width: 100%;
    background: #1abc9c;
	height: 10%;
	text-align: center;
}

div.centercontent{
border-left: 1px solid black;
border-right: 1px solid black;
text-align: center;
 height:inherit;
 margin: 0px 0px;


}

div.box1{

 float: left;
 width:50%;
 height:inherit;
 display: inherit;
 display: box;

}
div.box2{

 width:50%;
 height: inherit;
 float: left;
 display: box;


}

.navbar {
    overflow: hidden; 
    background-color: #333; 
    font-size: 16px;
}


.navbar a {
    float: left; 
    display: block; 
     color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    margin-left: 16px;
}




.navbar a:hover {
    background-color: #ddd; 
    color: black;
}
h2.right{
	text-align: center;
}

h2.left{
	text-align: center;
}

p.left{
		text-align: center;
}
p.right{
		text-align: center;
}

h2.centeright{
	text-align: center;
}

h2.centerleft{
	text-align: center;
}

p.centerleft{
		text-align: center;
}
p.centerright{
		text-align: center;
}