@import"https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import"./css/lesson.css";
@import"./css/nav.css";
@import"./css/colors.css";
@import"./css/btn.css";
@import"./css/link.css";
@import"./css/footer.css";

body{
    margin: 0px;
    padding: 0px;
}

.container{
    width:997px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
}

