{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} edition - MySpace{% endblock %}

{% block body %}

    <h1 class="text-center my-5">Modification</h1>

    <div class="container d-flex  justify-content-center">

        <div class="row  m-2 d-flex flex-column">
            {{ form_start(editUserForm) }}
            <div class="form-group">
                {{ form_row(editUserForm.username, {'attr': {'value': user.username }}) }}
            </div>
            <div class="form-group">
                {{ form_row(editUserForm.email) }}
            </div>
            <div class="form-group">
                {{ form_row(editUserForm.imageFile) }}

            </div>
            <div class="form-group">
                <button class="btn btn-primary">Enregistrer</button>
            </div>

            {{ form_end(editUserForm) }}
        </div>

    </div>

{% endblock %}
