{% extends 'base.html.twig' %}


{% block title %}
    Changer le mot de passe - MySpace
{% endblock %}


{% block body %}
    <div class="container">
        {{ form_start(editUserPasswordForm) }}
        <div class="form-group">
            {{ form_row(editUserPasswordForm.oldPassword) }}
            {{ form_row(editUserPasswordForm.plainPassword.first, {'label': 'Nouveau mot de passe'}) }}
        </div>
        <div class="form-group">
            {{ form_row(editUserPasswordForm.plainPassword.second, {'label': 'Comfirmez le mot de passe'}) }}
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Enregistrer</button>
        </div>
        {{ form_end(editUserPasswordForm) }}
    </div>
{% endblock %}


