{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs - Blog{% endblock %}

{% block body %}
    <div class="container">
        <table class="table border border-dark mt-5">
            <thead class="table-dark">
            <tr>
                <th>Action</th>
                <th>Pseudo</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><a class="btn btn-primary"
                           href="{{ path('show_user',{id: user.id } ) }}"
                           role="button">Profil</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
