{% extends 'base.html.twig' %}

{% block title %}
    {{ user.username }} - MySpace
{% endblock %}


{% block body %}

    <div class="container d-flex ">
        <div class="row col-12 mt-5 d-flex justify-content-center ">
            <div class="p-5 border border-dark d-flex flex-column align-items-center align-content-center align-self-center">
                <div class="d-flex ">
                    {% if user.imageName is not empty %}<img
                        src="{{ vich_uploader_asset(user,'imageFile') }}"
                        alt="Avatar de {{ user.username }}"
                        class="imgProfile ">{% endif %}
                </div>
                <div class="d-flex">
                    <h5>Pseudo:</h5>
                    <p> &nbsp {{ user.username }}</p>
                </div>
                <div class="d-flex ">
                    <h5>Email:</h5>
                    <p> &nbsp {{ user.email }}</p>
                </div>
                <div class="d-flex ">
                    <h6>Compte crée le :</h6>
                    <p> &nbsp {{ user.createdAt | date("j:m:Y") }}</p>
                </div>
                <div class="align-items-center d-flex flex-column ">
                    <div class="d-flex">
                        <a class="btn btn-primary m-2"
                           href="{{ path('edit_user' , {id: user.id }) }}"
                           role="button">Modifier</a>
                        <a class="btn btn-danger m-2"
                           href="{{ path('delete_user' , {id: user.id }) }}"
                           role="button">supprimer</a></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


