@import"https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css";
@import"https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css";
@import"./CSS/table1.css";
@import"https://use.fontawesome.com/releases/v5.6.1/css/all.css";


#experience{
    height: 500px;
}


i{
    font-size:30px;
}
.header-h1 i{
    margin-top: 125px;
    font-size:50px;

}

.header-h1{
    background-color: #74b9ff;
    height: 100vh;
}

.box1:hover{
    background-color:#ff7675;
    color: white;
}
.box2:hover{
    background-color:#00b894;
    color: white;
}
.box3:hover{
    background-color:#fdcb6e;
    color: white;
}
.competence{
    padding-top:50px;
    height: 50vh;
}

.box{
    bottom: 0;
}

.exblc2{
    margin-left: 25.5%;
}
.exblc3{
    margin-left:50.5%;
}
.exblc4{
    margin-left:75.5%;
}

