.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    font-family: "Montserrat";
}

.btn-plain{
    background-color: var(--purple);
    color: var(--white);
    border: solid 1px var(--purple);
}

.btn-outline{
    border: solid 1px var(--purple);
    color:var(--purple);

}

.btn-plain:hover{
    box-shadow:0 6px 6px 0 rgba(0,0,0,0.26), 0 2px 20px 0 rgba(0,0,0,0.19);
}

.btn-outline:hover{
    background-color: rgba(116,81,235,0.24);
}

.btn-drop{
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid var(--grey);
    color: rgb(109, 106, 106);
}
.btn-drop:hover{
box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.26), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-drop .fa-angle-down{
    margin-left:5px;
}