.border-top{
margin-top:20px;
border-top: 1px  solid var(--grey);


}
footer-open{
    display: flex;

    padding: 20px;
}

.footer-col{
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    font-family: "Montserrat";
    line-height: 1.875rem;
    font-weight: 400;

}

.footer-col .link{
    margin: 8px 0;

}

.footer-col .link:hover{
  color:var(--purple);
  cursor: pointer;
  
}
.footer-col .title{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.875rem;
}

.footer-socials{
    display: flex;
    justify-content: space-around;
}

.social-link i{
    font-size: 20px;
}
.social-link{
    background-color: rgb(212, 209, 209);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
}
#facebook:hover{
    color:white;
    background-color: #3b5998;
}

#twitter:hover{
    color:#f5f8fa;
    background-color: #1da1f2; 
}
#linkedin:hover{
    color:#caccce;
    background-color: #0077b5;
}

#instagram:hover{
    color:white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#youtube:hover{
    color:white;
    background-color:#ff0000;
}