.lesson{
    display: flex;
    flex-direction: column;
}

.lesson-cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 0;
    border-bottom: 1px solid var(--grey);
    font-family: "Montserrat";
}

.lesson-cards:hover{
    background-color: #F2F2F2;
}
.lesson-cards img{
    width:275px;
    height:150px;
    background-color: #ADC6C2;
    
}
div.lesson-cards.last-card{
    border-style: none;

}

.lesson-text{
flex: 1 1 auto;
margin-left: 20px;
}

.lesson-text .categorie{
text-transform: uppercase;
color: var(--purple);
font-size: 13px;
margin-bottom: 8px;
font-weight: 500;

}
.lesson-text .title{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
}

.lesson-text .infos span{
    margin-right: 13px;
    font-weight: 400;
}

.lesson-text .infos span i{
    margin-right: 4px;
}

