.back-link{
    color: var(--grey);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;

}
.back-link a{
    text-decoration: none;
    color:var(--purple)
}

.back-link i{
    margin-right: 8px;
    
}
menu-open{
    display:flex;
    margin:30px 0;
}

.link{
    text-decoration: none;
    color: inherit;
}