nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    color: var(--black);
    align-items: center;

}
.recherche{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin-left: 20px;

}

nav i{
    color: var(--purple);
    font-size: 22px;
}
nav h3{
    color: var(--purple);
    font-weight: bold;
    font-size: 35px;
    font-family: "Montserrat";
}

nav input{
    flex: 1 1 auto;
    margin: 0 10px;
    height: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
    border:none;
}
.border-nav{

    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.26);

}