label{
	line-height: 200%;
}
form{
	display: inline-block;
}
header {

    text-align: center;
    background: #1abc9c;
    color: white;
}

div#left{
	display: inline-block;
	float:left;
	margin-top: 26px;
}

#borwserslistdiv{
	margin-bottom: auto;
}

div#right{
display: inline-block;
float:left;
padding-left: 50px;
}

input#submit{
	clear: both;
	margin-top: 20px;
	width: 200px;
}
hr.hr{
	margin: 25px;
}
*{
font-family: 'Noto Sans SC', sans-serif;


}

.navbar {
    overflow: hidden; 
    background-color: #333; 

}


.navbar a {
    float: left; 
    display: block; 
     color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
        margin-left: 16px;
}





.navbar a:hover {
    background-color: #ddd; 
    color: black;
}

footer{
	margin-top: 10px;
	border:1px solid black;
	clear: both;
	display: block;
	width: 100%;
    background: #1abc9c;
	height: 10%;
	text-align: center;
}

h1{	color: white;
	font-size: 45px;
	padding: 20px;
	text-align: center;
	margin:1px auto;
}