{% extends 'base.html.twig' %}

{% block title %}Insciption - MySpace{% endblock %}

{% block body %}

    <h1 class="text-center mb-5">Inscription</h1>

    <div class="container d-flex  justify-content-center">

        <div class="row col-3 mt-2 d-flex flex-column">
            {{ form_start(registrationForm) }}

            <div class="form-group">
                {{ form_row(registrationForm.username) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.email) }}
            </div>


        </div>
        <div class="row col-3 m-2 d-flex flex-column">

            <div class="form-group">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
    <div class="form-group col-3">
        {{ form_row(registrationForm.imageFile) }}

    </div>

    </div>
    <div class="form-group  d-flex justify-content-center">
        <button class="btn btn-primary">S'inscrire</button>
    </div>

    {{ form_end(registrationForm) }}

{% endblock %}
