.parent{
    width: 300px;
    height: 300px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.enfant{
    background-color: aqua;
    flex:0 0 20px;
    display: flex;
    justify-content: space-around;

}

.spec{
    align-self: flex-start;
}