{% extends 'base.html.twig' %}

{% block title %}Categories - MySpace{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="d-block text-center mt-3">List des categories</h2>
        <div class="mt-4">
            <div class="d-flex justify-content-center">
                {% for letter in 'a'..'z' %}
                    <a href="#{{ letter }}"> {{ letter | upper }}</a>
                    <p> &nbsp; . &nbsp; </p>
                {% endfor %}
            </div>
            <ul>
                {% for category in categories %}
                    <li class="mt-3">
                        <a id="{{ category.name | first }}"
                           href="{{ path('article_index' , {  categorie: category.id }) }}">{{ category.name | capitalize }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
