{% extends 'base.html.twig' %}

{% block title %}
    Ajoutez une categorie - MySpace
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="col-12 mt-3 text-center">Crée une nouvelle catégorie</h1>

        {{ form_start(categorieForm, {'attr': { 'class': 'mt-5' }}) }}
        <div class="d-flex justify-content-center">
        {{ form_row(categorieForm.name) }}
        </div>
        <div class="form-group d-flex justify-content-center">
            <button class="btn btn-primary m-5">Créez</button>
        </div>
        {{ form_end(categorieForm) }}
    </div>
{% endblock %}



