{% extends 'base.html.twig' %}

{% block title %}
    Categorie: {{ category.name }} - MySpace
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1>Categorie: {{ category.name }}</h1>
        </div>
        <div class="d-flex justify-content-center ">
            <button class="btn btn-outline-warning m-2"><a style="color:inherit" href="{{ path('edit_category' , { id: category.id }) }}">Modifiez</a></button>
            <button class="btn btn-danger m-2"><a style="color:inherit" href="{{ path('delete_category' , { id: category.id }) }}">Supprimez</button>
        </div>

        <div class="articles">


        </div>
    </div>
{% endblock %}



