<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand border-right ml-3 pr-3" href="{{ path('index') }}">MySpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('index') }}">Accueil <span class="sr-only">Accueil</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Utilisateur
                </a>
                <div class="dropdown-menu">
                    <a href="{{ path('users') }}" class="dropdown-item">Liste des utilisateurs</a>
                </div>
            </li>
            {% if  is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown">Categories</a>
                    <div class="dropdown-menu">
                        <a href="{{ path('category') }}" class="dropdown-item">Liste des categories</a>
                        <a href="{{ path('add_category') }}" class="dropdown-item">Ajoutez une categorie</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toogle" href="#"  role="button" data-toggle="dropdown">Articles</a>
                    <div class="dropdown-menu">
                        <a href="{{ path('article_index') }}" class="dropdown-item">Liste des articles</a>
                        <a href="{{ path('article_new') }}" class="dropdown-item">Ajoutez un article</a>
                    </div>
                </li>
            {% endif %}
            {% if  is_granted('ROLE_ADMIN') or  is_granted('ROLE_USER') %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('show_user' , { id: app.user.id }) }}">Mon compte</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ path('article_index') }}" method="get">
            <input class="form-control mr-1" type="search" name='recherche' placeholder="Recherche"
                   aria-label="Search">
            <button class="btn btn-success mr-2 " type="submit"><i class="fas fa-search"></i>
            </button>
        </form>


        {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_USER') %}
            <form class="form-inline  ml-2 mr-2" action="{{ path('app_register') }}" method="post">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">S'inscrire</button>
            </form>
            <form class="form-inline my-2 my-md-0" action="{{ path('app_login') }}" method="post">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Connection</button>
            </form>
        {% endif %}
        {% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <form class="form-inline mx-2" action="{{ path('app_logout') }}" method="post">
                <button class="btn btn-primary mr-2 my-sm-0" type="submit">Déconnexion</button>
            </form>
        {% endif %}
    </div>
</nav>
