@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.6.0/css/all.css");

/* video#bgvid {
    position: sticky; 
    right: 0; bottom: 0;
    width: 100vw; 
    height: auto; 
    z-index: -100;
    background: url(https://images.pexels.com/photos/144428/pexels-photo-144428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: cover;
  } */

  /* .header-h1{
    position: sicky;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-direction: column;
     */
  }

  .header-h1 h1{
    font-size: 55px;
    margin-top: 20%;
  }

  .header-h1 i{
    font-size: 50px;
      justify-self: center;
  }
