*{
font-family: 'Noto Sans SC', sans-serif;
}

.navbar {
    overflow: hidden; 
    background-color: #333; 

}


h1{
		color: white;
	font-size: 45px;
	padding: 20px;
	text-align: center;
	margin:1px auto;
}
.navbar a {
    float: left; 
    display: block; 
     color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
        margin-left: 16px;
}


header{

    background: #1abc9c;
    color: white; 
    text-align: center;
    margin: 0px 0px;

}

.navbar a:hover {
    background-color: #ddd; 
    color: black;

}


div.header{
	display: block;
		padding-left: 20px;
		padding-right: 20px;

}

h1.header{
	display: inline-block;
	float: left;
	color: black;

}

p.header{
	display: inline-block;
	float: right;
	border:1px solid blue;
	padding: 10px;
	color: black;
}

div.ExperiencePro{
	clear: both;
}

span.span{
color: blue;
}

p.ExperiencePro{
	color: grey;
	font-size: 15px;
}
span.ExperiencePro{
	font-weight: bold;
}

h2.ExperiencePro{
	margin:0px auto;
	color: blue;
}

h4.ExperiencePro{
	color: blue;
}

h2.Etudes{
	color: blue;
}

h4.Etudes{
	color: blue;
}
h2.Interets{
	color: blue;	
}


hr{
	background-color: blue;
  height: 2px;
}

div.Tableau{

border:1px solid blue;
display: inline-block;
overflow: hidden;
margin:0px 80px;
}

div.Electronique{
    display: table;
    box-sizing: border-box;
	float: left;
	height: 300px;
	padding: 7px;
 	width: 33.33%;
	border-width: 0px 1px 0px 0px;
	border-color: blue;
	border-style: solid;


}
div.Informatique{
	box-sizing: border-box;
    display: table;
	float: left;
	height: 300px;
	padding: 7px;
	
    width: 33.33%;
	border-width: 0px 1px 0px 0px;
	border-color: blue;
	border-style: solid;
}
div.Autres{
	box-sizing: border-box;
    display: table;
	float: left;

	height: 300px;

    width: 33.33%;
	padding: 7px;

}

div.content{
	width:100%;
}
div.Etudes{
	clear: both;
}

h3.Tableau{
	width: 100%;
	text-align: center;
	border-bottom: 1px solid blue;
}



h3.Tableau{
	margin: 1px auto;
	padding-bottom: 5px;
}


div#letter{
	display: inline-block;
	margin: 0px 0px;

}
a#letter1{
width: 80px;
height: 80px;
display: block;
background : url("letterbefore.png") no-repeat;
background-size: 80px;
margin-left: 80px;
}
a#letter1:hover{
 	background-image: url("letterafter.png");
	background-size: 80px;
}
div.letter{
	width: 80px;
	height: 80px;


}

h5.letter{
	margin: 0px;
	font-size: 40px;
}

footer{
	border:1px solid black;
	clear: both;
	display: block;
	width: 100%;
    background: #1abc9c;
	height: 10%;
	text-align: center;
}

section.letter{
	border:1px solid black;
	border-radius: 5px;
	display: inline-block;
	margin-left: calc(50% - 80px);
	padding: 1%;
	margin-bottom: 50px;

}

section.body{
	border:3px solid black;
	padding: 20px;
	margin: 5%;
}