{% extends 'base.html.twig' %}

{% block title %}Connexion - MySpace{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center mt-5">

        <form class="" method="post">
            <h1 class="col-12 text-center mb-5">Connexion</h1>
            <hr/>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <div class="form-group m-3">
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   placeholder="Email" required autofocus>
            </div>
            <div class="form-group m-3">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
                   required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me">Restez connecter
                </label>
            </div>

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" type="submit">
                    Connexion
                </button>
            </div>
        </form>
    </div>
{% endblock %}
